
<h1 class="display-4 text-center" >Contratos</h1>
<table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Anticipo de contratos</th>
            <th scope="col">Garantia de contratos</th>
            <th scope="col">Amortizacion de contratos</th>
            <th scope="col">Estimacion de contratos</th>
     
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>$1000</td>
            
            </tr>
      
          
        </tbody>
      </table>
      
<h1 class="display-4 text-center" >Estimaciones por semana.

</h1>
<table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Document</th>
            <th scope="col">Garantia de contratos</th>
            <th scope="col">Amortizacion de contratos</th>
            <th scope="col">Estimacion de contratos</th>
     
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th ><a class="cui-cloud-download" style="zoom: 2"> </a></th>
            <td>Mark</td>
            <td>Otto</td>
            <td>$1000</td>
            
            </tr>
      
          
        </tbody>
      </table>