<h1 class="display-4 text-center" > Requisiciones por Autorizar</h1>
<table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Clave</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Unidad</th>
            <th scope="col">Estimado</th>
            <th scope="col">Utilizado</th>
            <th scope="col">Restante</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let animal of animales ; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{animal.tipo}}</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
          </tr>        
        </tbody>
      </table>