<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="false"
	[navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 152, height: 65}"
	[sidebarToggler]="'lg'" [asideMenuToggler]="false" [mobileAsideMenuToggler]="false">		
</app-header>


<div class="app-body">
	<app-sidebar [fixed]="true" [display]="'sm'">
		<app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
		
	</app-sidebar>
	<!-- Main content -->
	<main class="main">
		<cui-breadcrumb></cui-breadcrumb>
		<div class="container-fluid">
			<router-outlet></router-outlet>
		</div>
	</main>
</div>


<app-footer>
	<span>&copy;2019 <a href="http://www.mrs.group" target="_blank">MRS&trade;</a></span>
	<span class="ml-auto">Developed by <a href="https://www.creaworlds.com.mx" target="_blank">CreaWorlds&trade;</a></span>
</app-footer>