<div class="animated fadeIn">
<h1 class="display-4 text-center" > Detalle de la explosión de insumos</h1>
<table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Clave</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Unidad</th>
            <th scope="col">Estimado</th>
            <th scope="col">Utilizado</th>
            <th scope="col">Restante</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let expIn of expIns; index as i">
            <th>{{expIn.clave}}</th>
            <td>{{expIn.desc}}</td>
            <td>{{expIn.unidad}}</td>
            <td>{{expIn.estim}}</td>
            <td>{{expIn.util}}</td>
            <td>{{expIn.rest}}</td>
           
          </tr>  
        </tbody>
      </table>
</div>
      <router-outlet></router-outlet>
      