<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-10" *ngFor="let obj of widgets; index as inWid">
			<div class="brand-card">
				<div class="brand-card-header"  >
			<!--<label > {{inWid}}</label>-->
				<img class="img-wid" src="../../../assets//img//brand-card/liv_petrel.png" >

				</div >
				<div class="brand-card-body">
					<div class="text-center" *ngFor="let item of obj.value; index as i" >
							
						<div class="text-value ">{{item.value}}</div>
						<div class="text-uppercase text-muted small">{{item.title}}</div>

						 <div class="icons-wid-1">
								<a  class="cui-magnifying-glass  align-bottom"   *ngIf="i==3" routerLink="detalle-reqAut"></a>  
								<a  class="cui-magnifying-glass  align-bottom"    *ngIf="i==4" routerLink="ReqsnCompra"></a>
								<a  class="cui-magnifying-glass  align-bottom"    *ngIf="i==5" routerLink="Compras-sin-surtir"></a>
						 </div>
							

						<div class="icons-wid-2">
							
						<a  class="cui-magnifying-glass align-bottom"    *ngIf="i==0" routerLink="detalle-insumos"></a>
						<a  class="cui-magnifying-glass align-bottom"    *ngIf="i==1" routerLink="detalle-insumos"></a>
						<a  class="cui-magnifying-glass  align-bottom"    *ngIf="i==2" routerLink="detalle-insumos"></a>
							
					    <a  class="cui-magnifying-glass  align-bottom"    *ngIf="i==6" routerLink="detalle-insumos"></a>
					    <a  class="cui-magnifying-glass  align-bottom"    *ngIf="i==7" routerLink="detalle-insumos"></a>
						<a  class="cui-magnifying-glass  align-bottom"    *ngIf="i==8" routerLink="Contratos-detalle"></a>
						
						</div> 

						
							
							 
					</div>
				</div>
			</div>
		</div>
	</div>


	
</div>


<router-outlet></router-outlet>