<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-9" *ngFor="let obj of widgets; index as inWid">
			<div class="brand-card">
				<div class="brand-card-header"  >
			<!--<label > {{inWid}}</label>-->
				<img class="img-wid" src="../../../assets//img//brand-card/liv_petrel.png" >

				</div >
				<div class="brand-card-body">
					<div class="" *ngFor="let item of obj.value; index as i" >

						<div class="text-value small">{{item.value}}</div>
						<div class="text-uppercase text-muted small">{{item.title}}</div>
						<div class="icons-wid">
						<a  class="cui-magnifying-glass"    *ngIf="i==1" routerLink="detalle-insumos"></a>
						 <a  class="cui-magnifying-glass"   *ngIf="i==3" routerLink="detalle-reqAut"></a>
						 <a  class="cui-magnifying-glass"    *ngIf="i==4" routerLink="ReqsnCompra"></a>
						 <a  class="cui-magnifying-glass"    *ngIf="i==5" routerLink="Compras-sin-surtir"></a>
						 <a  class="cui-magnifying-glass"    *ngIf="i==8" routerLink="Contratos-detalle"></a>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>


	
</div>


<router-outlet></router-outlet>