.brand-card-header 
{
    background-color:rgb(255, 249, 196);
    
}
.img-wid
{
    width: 32rem;
    height: 5rem;
}

.icons-wid-1
{
    zoom: 2;
    padding-bottom:3px 
}

.icons-wid-2
{
    zoom: 2;
    padding-top:5px;
   
  
}
