<div class="animated fadeIn">
<div class="row" *ngFor="let item of personas">

  <div class="col-sm-6 col-lg-4">
    <div class="brand-card">
      <div class="brand-card-header bg-behance">
        <i class="">{{item.nombreProyecto}}

		</i>
      </div>
      <div class="brand-card-body" >
        <div>
          <div class="text-value"></div>
          <div class="text-uppercase text-muted small">Lorem ipsum</div>
        </div>
        <div>
          <div class="text-value">459</div>
          <div class="text-uppercase text-muted small">Lorem ipsum</div>
        </div>
      </div>
    </div>
  </div><!--/.col--> 

	
</div>
</div>

